@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.wrap{
  text-align: center;
  margin-top: 2em;
}

.search {
  text-align: center;
}

.search-term {
  float: left;
  border: 0.3em solid #7DBDD6;
  padding: 1em;
  height: 3.5em;
  border-radius: 1.2em;
  outline: none;
  color: #9DBFAF;
}

.search-term:focus{
  color: #7DBDD6;
}

nav{
  height: 100%;
}

.search-button {
  float: right;
  height: 1.7em;
  background: #7DBDD6;
  /* text-align: center; */
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 2em;
}

.write-something{
  padding: 2em 0em 1em 4em;
  float: left;
}

.content-container{
  margin: 1em 0em 0em 1em;
  min-height: 3em;
  overflow: hidden;
  background-color: #EFF0F1;
  padding: 0.3em;
}
