@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.wrap{
  text-align: center;
  margin-top: 2em;
}

.search {
  text-align: center;
}

.search-term {
  float: left;
  border: 0.3em solid #7DBDD6;
  padding: 1em;
  height: 3.5em;
  border-radius: 1.2em;
  outline: none;
  color: #9DBFAF;
}

.search-term:focus{
  color: #7DBDD6;
}

nav{
  height: 100%;
}

.search-button {
  float: right;
  height: 1.7em;
  background: #7DBDD6;
  /* text-align: center; */
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 2em;
}

.write-something{
  padding: 2em 0em 1em 4em;
  float: left;
}

.content-container{
  margin: 1em 0em 0em 1em;
  min-height: 3em;
  overflow: hidden;
  background-color: #EFF0F1;
  padding: 0.3em;
}

.comment-box{
  margin: 1em 0em 0em 1em;
  padding-left: 0.5em;
}

.post-button-container{
  padding: 0.5em 0em 1em 0.4em;
}

.notification-row{
  padding-bottom: 0.5em;
}
.search-user-list{
  padding: 0.5em;
  margin-left: 2em;
}

.friend-result{
  padding: 0em;
  float: right;
}
.container-div{
  font-size: 18px;
  text-align: center;
}
.list-element a{
  color: #fff;
  font-size: 22px;
}
.list-element{
  padding-bottom: 18px;
}
.nav-bar{
  background-color: #6DBEDA;
}
.list-unstyled{
  margin-top: 90px;
}
.profile-container{
  text-align: center;
}
.profile-table{
  margin: 0 auto;
  margin-left: 18em;
  margin-top: 3em;
}
.profile-row .user-data{
  border-bottom: 0.6em solid transparent;
  font-size: 1.3em;
  color: #6DBEDA;
}
.profile-row td{
  border-right: 1.3em solid transparent;
  text-align: left;
  font-weight: 600;
}
.edit-button{
  color: #6DBEDA;
  background-color: #fff;
  margin-left: -18em;
}
.save-update{
  margin-left: 27em;
  color: #6DBEDA;
  background-color: #fff;
}
.display-4{
  font-size: 1em;
  font-weight: 500;
  float: right;
  padding: 0;
}
.user-image{
  margin-left: 0;
}
.search-result-table,
.notifications-table{
  margin-top: 2em;
  margin-left: 1em;
}
.user-image{
  float: right;
}
.user-info-container,
.content-container{
  margin: 1em 0em 0em 3em;
}
.user-friend-list{
  margin: 1em 0em 0em 3em;
}
