%link{'href': 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', 'rel': 'stylesheet'}
%link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", :rel => "stylesheet"}
{% load staticfiles %}
%link{'href': '{% static "thesocialnetwork/header.css" %}', 'rel': 'stylesheet'}
%link{'href': '{% static "thesocialnetwork/elements-hidden.css" %}', 'rel': 'stylesheet'}
%nav.col-xs-2.nav-bar
  %ul.list-unstyled.components.col-xs-12
    %li.list-element.col-xs-12
      %a{:href => "{% url 'write_something' %}"} Write Something
    %li.list-element.col-xs-12
      %a{:href => "{% url 'user_content' %}"} Your posts
    %li.list-element.col-xs-12
      %a{:href => "{% url 'profile' %}"} Profile
    %li.list-element.col-xs-12
      %a{:href => "{% url 'friends' %}"} Friend List
    %li.list-element.col-xs-12
      %a{:href => "{% url 'show_notifications' %}"} Notifications
    %li.list-element.col-xs-12
      %a{:href => "{% url 'home' %}"} Home
    %li.active.list-element.col-xs-12
      %a{:href => "{% url 'logout' %}"} Logout


%header.col-xs-7
  %search-bar.col-xs-12
    .wrap.col-xs-12
      .search.col-xs-12
        %input.search-term.col-xs-10{:placeholder => "What do you seek?", :type => "text"}/
        %button.search-button.col-xs-1{:type => "submit"}
          %i.fa.fa-search

.notification.col-xs-3
  &nbsp;

%script{'src': 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'}
%script{'src': "{% static 'thesocialnetwork/js/app.js' %}"}
%script{'src': "{% static 'notify/notifyX.js' %}"}
