{% include 'thesocialnetwork/_main.html.haml' %}
{% load staticfiles %}
%link{'href': '{% static "thesocialnetwork/elements-hidden.css" %}', 'rel': 'stylesheet'}
%search-result.col-xs-9
  %table.col-xs-12
    {% for user, request_status in users %}
      %tr.col-xs-7
        %td.col-xs-2
          %a{:href => "/profile/user/{{user.id}}"}
            {{user.first_name}} {{user.last_name}}
        %td.col-xs-3
          {% if user.userprofile.image.name != '' %}
            %img{:src => '{{user.userprofile.image.url}}', :height => '100', :width => '100'}
          {% endif %}
        %td.col-xs-2
          {% if request_status.is_accepted %}
            Friends
          {% elif request_status.is_pending != None %}
            Friend Request Sent
          {% elif request_status != None %}
            Friend Request Sent
          {% else %}
            %button.send-friend-request Send Request
              .user_info_hidden {{user.id}}
          {% endif %}
    {% endfor %}

