{% include 'thesocialnetwork/_main.html.haml' %}
%form.col-xs-9{:action => "", :method => "post", :enctype => "multipart/form-data"}
  {% csrf_token %}
  %table.col-xs12.list-unstyled.profile-table
    %tr.active.profile-row
      %td.user-data
        %label{:for => "about"} About You
      %td
        %input{:type => "text",:id => "about", :name => "about"}
    %tr.active.profile-row
      %td.user-data
       %label{:for => "dob"} Date of birth
      %td
        %input{:type => "date",:id => "dob", :name => "dob"}
    %tr.active.profile-row
      %td.user-data
        %label{:for => "photo"} Profile Photo
      %td
        %input{:type => "file",:id => "photo", :name => "image", :accept => "image/*"}
  %button.save-update Update Info
