{%include 'thesocialnetwork/_main.html.haml' %}

  .col-xs-9
    %ul.col-xs12.list-unstyled.components
      %li.active First Name: {{profile.user.first_name}}
      %li.active Last Name: {{profile.user.last_name}}
      %li.active UserName: {{profile.user.username}}
      %li.active About you: {{profile.about}}
      %li.active Date of birth: {{profile.dob}}
      %li.active Profile pic:
        {% if img %}
          %img{:src => '{{profile.image.url}}', :height => '100', :width => '100'}
        {% else %}
          %b No image uploaded
        {% endif %}
    {% if can_edit %}
      %a{:href => "{% url 'update_profile' %}"}
        %button Edit
    {% endif %}
